.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  height: 4.5rem;
  color: white;
  position: absolute;
  bottom: 0;
}

.footer-icons-container{
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.footer-icons-container a{
  font-size: 1.6rem;
  color: white;
}

.footer-rights{
  padding: 0;
  text-align: center;
}

.footer-rights p{
  font-size: 0.9rem;
  word-wrap: break-word;
}

@media (min-width: 768px){
  .footer{
    justify-content: space-around;
  }
}