.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-cover-container{
  width: 100%;
  height: 19rem;
  background-image: url(../imgs/Juan-Casañas.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* .home-cover-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.home-main-img-container{
  width: 80%;
  height: auto;
  margin-top: 2.5rem;
}

.home-main-img-container img{
  width: 100%;
}

.home-p-container{
  text-align: center;
  word-wrap: break-word;
}

.home-p-container p{
  padding: 1rem 2rem;
  font-weight: 600;
}

@media (min-width: 768px){
  .home-cover-container{
    height: 35rem;
  }

  .home-main-img-container{
    width: 40%;
  }
}