.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.introduction-container{
  text-align: center;
  margin: 0.5rem;
  padding: 0 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #5f5d5d;
  width: 100%;
}

.home-cover-container{
  width: 100%;
  height: 13rem;
  background-image: url(../imgs/Juan-Casañas.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .home-cover-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.home-main-img-container{
  width: 80%;
  height: 11rem;
  margin-bottom: 3rem;
  box-shadow: 1px 1px 10px rgb(135, 134, 134);
  border-radius: 2px;
}

.home-main-img-container img{
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-main-img-container p{
  font-size: 0.8rem;
  margin: 0;
  margin-left: 0.3rem;
  color: #5f5d5d;
  font-weight: bold;
}

.home-p-container{
  text-align: center;
  word-wrap: break-word;
  margin: 1.2rem 0;
}

.home-p-container p{
  font-size: 1.2rem;
  padding: 0 2rem;
  font-weight: 600;
  color: #5f5d5d;
}

@media (min-width: 768px){
  .home-cover-container{
    height: 90vh;
  }

  .home-main-img-container{
    width: 40%;
  }

  .home-p-container{
    width: 40%;
  }

  .home-body-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .home-main-img-container{
    height: 15rem;
    margin-bottom: 0;
  }
}